body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#problem {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    text-align: left;
}

#code {
    width: 100%;
    height: 200px;
    tab-size: 4;
}

#output {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
}