*{
    font-family: Josefin Sans;
}
.player-heading{
    font-size: larger;
    font-weight: bold;
}

.players-section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-pin-label{
    font-size: larger;
    font-weight: bold; 
}

.game-pin-div{
    margin-top: 10px;
    margin-bottom: 10px;
}